{%extends 'layout/base.html'%}

{%block content%}
<div id="demo" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>
    <div class="carousel-inner">
        {%for img in images%}
        <div class="carousel-item {%if loop.index == 1%}active{%endif%}">
            <img src="{{url_for('static', filename='images/' ~ img)}}"
                 alt="Ảnh {{ loop.index }}" class="d-block w-100">
        </div>
        {%endfor%}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>
{%endblock%}