{%extends 'layout/base.html'%}

{%block content%}
<div id="main-body" class="row g-3 gy-4 m-3 mb-5">
    <div class="col-md">
        <div class="container position-relative area">
            <div class="position-absolute translate-middle-y fw-bolder title">Danh sách thanh toán</div>
            <div class="pt-4 pb-2">
                <div class="row pt-1">
                    <div class="col">
                        <input id="search" class="form-control" type="text" placeholder="Search" style="width: 32vw"
                               onchange="search()" value="{%if kw!=None%}{{kw}}{%endif%}">
                    </div>
                    <div class="col pt-1">
                        <ul class="pagination justify-content-end col pagination-sm">
                            <li class="page-item"><a class="page-link" href="#"><</a></li>
                            {%for i in range(1, pages+1)%}
                            <li class="page-item"><a class="page-link" href="/?page={{i}}">{{i}}</a></li>
                            {%endfor%}
                            <li class="page-item"><a class="page-link" href="#">></a></li>
                        </ul>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text">
                        <thead class="table-dark text-center align-middle">
                        <tr>
                            <th class="table-first-col">Khách hàng</th>
                            <th class="servicessheet-table-col">Thời gian dự kiến hoàn tất</th>
                            <th class="servicessheet-table-col">
                                <div class="dropdown-toggle" data-bs-toggle="dropdown">Trạng thái <br> lịch hẹn</div>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Tablet</a></li>
                                    <li><a class="dropdown-item" href="#">Smartphone</a></li>
                                </ul>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="table-light">
                        {%for s in service_sheets%}
                        <tr onclick="displayInvoice({{s.id}})">
                            <td class="table-first-col">{{s.dat_lich.khach_hang.ho_ten_user}}</td>
                            <td class="servicessheet-table-col">Doe</td>
                            <td class="servicessheet-table-col">{{s.dat_lich.trang_thai_dat_lich.name}}</td>
                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md">
        {%if id>0%}
        <div class="container position-relative area">
            <div class="position-absolute translate-middle-y fw-bolder title">Hóa đơn</div>
            <button type="button" class="btn btn-dark d-flex align-items-center
        justify-content-center me-4 position-absolute end-0 translate-middle-y"
                    style="width: 25px; height: 25px" onclick="closeInvoice()">&times;
            </button>
            <div class="container pt-4 pb-2">
                <div class="pt-2 pb-3">
                    <div class="subtitle">Khách hàng: {{service_sheet_detail[0].phieu_dich_vu.dat_lich.khach_hang.ho_ten_user}}</div>
                    <div class="row row-col-2 text">
                        <div class="col-6">Email: {{service_sheet_detail[0].phieu_dich_vu.dat_lich.khach_hang.email_user}}</div>
                        <div class="col-6">Số điện thoại: {{service_sheet_detail[0].phieu_dich_vu.dat_lich.khach_hang.sdt_user}}</div>
                        <div class="col-6">Lịch hẹn ngày:
                            {{service_sheet_detail[0].phieu_dich_vu.dat_lich.gio_hen.strftime("%d/%m/%Y")}}
                        </div>
                        <div class="col-6">lúc: {{service_sheet_detail[0].phieu_dich_vu.dat_lich.gio_hen.strftime("%H:%M")}}</div>
                        <div class="col-6">Thời gian lập hóa đơn:
                            {%if receiption!=None%}
                            {{receiption.ngay_tao.strftime("%H:%m -%d/%m/%Y")}}
                            {%endif%}
                        </div>
                        <div class="col-6">Thời gian thanh toán:
                            {%if receiption!=None%}
                            Chưa có thuộc tính
                            {%endif%}
                        </div>
                    </div>
                </div>
                <div class="table-responsive" style="max-height: 170px; overflow-y: auto; background: white">
                    <table class="table table-bordered text">
                        <thead class="table-dark text-center align-middle">
                        <tr>
                            <th></th>
                            <th class="table-first-col">Dịch vụ</th>
                            <th class="servicessheet-table-col">Giá</th>
                            <th class="servicessheet-table-col">Giảm giá</th>
                        </tr>
                        </thead>
                        <tbody class="table-light">
                        {%for sd in service_sheet_detail%}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td class="table-first-col">{{sd.dich_vu.ten_dich_vu}}</td>
                            <td class="servicessheet-table-col">{{sd.dich_vu.gia_dich_vu}}</td>
                            <td class="servicessheet-table-col">None</td>
                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </div>
                <div class="row pt-2 pb-2 text">
                    <div>Tổng tạm tính</div>
                    <div>Tổng giảm giá trên dịch vụ</div>
                    <div>Giảm giá toàn hóa đơn</div>
                    <div>Thuế VAT </div>
                </div>
                <div class="pt-3 pb-3 border-top border-bottom border-3 border-secondary fw-bolder subtitle">
                    Tổng cộng:
                </div>
                <div class="row p-3">
                    <div class="col me-3 row">
                        <input class="form-control" type="text" placeholder="Mã giảm giá" style="width: 15vw">
                        <button class="btn btn-dark btn-sm text col" style="width: 30px">Tìm</button>
                    </div>
                    <button class="col btn btn-dark text">Thanh toán</button>
                </div>
            </div>
        </div>
        {%endif%}
    </div>
</div>
{%endblock%}