{%extends 'layout/base.html'%}

{%block content%}
<div id="main-body" class="row g-3 gy-4 m-3 mb-5">
    <div class="col-md">
        <div class="container position-relative area">
            <div class="position-absolute translate-middle-y fw-bolder title">Danh sách khách hàng</div>
            <div class="pt-4 pb-2">
                <div class="row pt-1">
                    <div class="col">
                        <input id="search" class="form-control" type="text" placeholder="Search" style="width: 32vw"
                               onchange="search({%if status!=None%}'{{status}}'{%endif%})"
                               value="{%if kw!=None%}{{kw}}{%endif%}">
                    </div>
                    <div class="col pt-1">
                        <nav aria-label="Pagination">
                            <ul class="pagination pagination-sm justify-content-center">
                                <li class="page-item {{'disabled' if page <= 1}}">
                                    <a class="page-link" href="?page={{page-1}}&status={{status}}{%if kw != None%}&search={{kw}}{%endif%}">
                                        &laquo;
                                    </a>
                                </li>
                                {% if page > 2 %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1&status={{status}}{%if kw != None%}&search={{kw}}{%endif%}">
                                        1
                                    </a>
                                </li>
                                {% endif %}
                                {% if page > 3 %}
                                <li class="page-item disabled">
                                    <span class="page-link">…</span>
                                </li>
                                {% endif %}
                                {% for p in range(page-1, page+2) %}
                                {% if 1 <= p <= pages %}
                                <li class="page-item {{'active' if p == page}}">
                                    <a class="page-link" href="?page={{p}}&status={{status}}{%if kw != None%}&search={{kw}}{%endif%}">
                                        {{p}}
                                    </a>
                                </li>
                                {% endif %}
                                {% endfor %}
                                {% if page < pages - 2 %}
                                <li class="page-item disabled">
                                    <span class="page-link">…</span>
                                </li>
                                {% endif %}
                                {% if page < pages - 1 %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{pages}}&status={{status}}{%if kw != None%}&search={{kw}}{%endif%}">
                                        {{pages}}
                                    </a>
                                </li>
                                {% endif %}
                                <li class="page-item {{'disabled' if page >= pages}}">
                                    <a class="page-link" href="?page={{page+1}}&status={{status}}{%if kw != None%}&search={{kw}}{%endif%}">
                                        &raquo;
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text">
                        <thead class="table-dark text-center align-middle">
                        <tr>
                            <th class="table-first-col">Khách hàng</th>
                            <th class="service-sheet-table-col">Thời gian dự kiến <br> thực hiện</th>
                            <th class="service-sheet-table-col">
                                <div class="dropdown-toggle" data-bs-toggle="dropdown">Trạng thái <br> lịch hẹn</div>
                                <ul class="dropdown-menu">
                                    <li><div class="dropdown-item" onclick="search('KTV')">Tất cả</div></li>
                                    <li><div class="dropdown-item" onclick="search('DA_XAC_NHAN')">Đã xác nhận</div></li>
                                    <li><div class="dropdown-item" onclick="search('DANG_THUC_HIEN')">Đang thực hiện</div></li>
                                    <li><div class="dropdown-item" onclick="search('DA_HOAN_THANH')">Đã hoàn thành</div></li>
                                </ul>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="table-light">
                        {%for a in appointments%}
                        <tr onclick="displaySheetDetail({{a.id}})">
                            <td class="table-first-col">{{a.khach_hang.ho_ten_user}}</td>
                            <td class="service-sheet-table-col">hehehe</td>
                            <td class="service-sheet-table-col">{{a.trang_thai_dat_lich.name}}</td>
                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md">
        {%if id > 0%}
        <div class="container position-relative area">
            <div class="position-absolute translate-middle-y fw-bolder title">Phiếu dịch vụ</div>
            <button type="button" class="btn btn-dark d-flex align-items-center
        justify-content-center me-4 position-absolute end-0 translate-middle-y"
                    style="width: 25px; height: 25px" onclick="closeSheetDetail()">&times;
            </button>
            <div class="container pt-5 pb-2">
                <div class="table-responsive" style="max-height: 170px; overflow-y: auto; background: white">
                    <table class="table table-bordered text">
                        <thead class="table-dark text-center align-middle">
                        <tr>
                            <th class="sm-service-sheet-table-col"></th>
                            <th class="table-first-col">Dịch vụ</th>
                            <th class="service-sheet-table-col">Thời lượng<br>dịch vụ</th>
                            <th class="service-sheet-table-col">Giá dịch vụ</th>
                        </tr>
                        </thead>
                        <tbody class="table-light">
                        {%for ad in appointment_details%}
                        <tr>
                            <td class="sm-service-sheet-table-col">{{loop.index}}</td>
                            <td class="table-first-col">{{ad.dich_vu.ten_dich_vu}}</td>
                            <td class="service-sheet-table-col text-center">{{ad.dich_vu.thoi_gian_dich_vu}} phút</td>
                            <td class="service-sheet-table-col text-center">{{"{:,.0f}".format(ad.dich_vu.gia_dich_vu)}}</td>
                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </div>
                <div class="pt-3 pb-2">
                    <div class="subtitle">Khách hàng: {{appointment_details[0].dat_lich.khach_hang.ho_ten_user}}</div>
                    <div class="row row-col-2 text">
                        <div class="col-6 pt-1 gy-1">Dịch vụ hiện tại:
                            {{appointment_details[0].dich_vu.ten_dich_vu}}
                        </div>
                        <div class="col-6 pt-1 gy-1">Kỹ thuật viên: {{appointment_details[0].ky_thuat_vien.user.ho_ten_user}}
                        </div>
                    </div>

                    <div class="row row-col-2 text">
                        {%if appointment_details[0 + 1] != null%}
                        <div class="col-6 pt-1 gy-1">Dịch vụ kế tiếp:
                            {{appointment_details[1].dich_vu.ten_dich_vu}}
                        </div>
                        <div class="col-6 pt-1 gy-1">Kỹ thuật viên: {{appointment_details[1].ky_thuat_vien.user.ho_ten_user}}
                        </div>
                        {%endif%}
                    </div>

                </div>
                <div class="container position-relative mt-4" style="background: #B2B2B2" id="noteArea">
                    <div class="position-absolute translate-middle-y fw-bolder subtitle">Ghi chú dịch vụ</div>
                    <div class="pt-3 pb-1">
                        <input type="text" class="form-control border-0" id="serviceNote" style="background: #B2B2B2"
                               readonly
                               value="{%if service_sheet_details != None%}{{service_sheet_details[0].ghi_chu_ktv}}{%endif%}">
                    </div>
                </div>
                <div class="container position-relative mt-4 mb-4" style="background: #B2B2B2" id="replyArea">
                    <div class="position-absolute translate-middle-y fw-bolder subtitle">Phản hồi của KH về dịch vụ
                    </div>
                    <div class="pt-3 pb-1">
                        <textarea class="form-control border-0" id="customerReply" style="background: #B2B2B2" readonly>{%if service_sheet_details != None%}{{service_sheet_details[0].phan_hoi_khach_hang}}{%endif%}</textarea>
                    </div>
                </div>
                {%if appointment_details[0].dat_lich.trang_thai_dat_lich.name == 'DANG_THUC_HIEN' or
                    appointment_details[0].dat_lich.trang_thai_dat_lich.name == 'DA_HOAN_THANH'%}
                <div class="row pb-3 " style="display: flex" id="btnUpdate">
                    <button class="col btn btn-dark text" onclick="startUpdateSD({{id}})">
                        Cập nhật
                    </button>
                </div>
                {%endif%}
                <div class="row pb-3" style="display: none" id="btnForUpdate">
                    <button class="col btn btn-dark me-5 text" onclick="successUpdateSD({{appointment_details[0].dich_vu.id}}
                    , {{appointment_details[0].dat_lich.id}})">Xác nhận cập nhật
                    </button>
                    <button class="col btn btn-dark ms-5 text" onclick="cancelUpdateSD({{id}})">
                        Hủy cập nhật
                    </button>
                </div>
            </div>
        </div>
        {%if flag%}
        <script>
            changeForUpdateSD()
        </script>
        {%endif%}
        {%endif%}
    </div>
</div>
{%endblock%}