{%extends 'layout/base.html'%}

{%block leftcontent%}
<div class="position-absolute translate-middle-y fw-bolder title">Danh sách khách hàng</div>
<div class="pt-4 pb-2">
    <div class="row pt-1">
        <div class="col">
            <input class="form-control" type="text" placeholder="Search" style="width: 32vw">
        </div>
        <div class="col pt-1">
            <ul class="pagination justify-content-end col pagination-sm">
                <li class="page-item"><a class="page-link" href="#"><</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">></a></li>
            </ul>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered text">
        <thead class="table-dark text-center align-middle">
            <tr>
                <th class="table-first-col">Khách hàng</th>
                <th class="servicessheet-table-col">Thời gian dự kiến thực hiện</th>
                <th class="servicessheet-table-col">
                    <div class="dropdown-toggle" data-bs-toggle="dropdown">Trạng thái <br> lịch hẹn</div>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Tablet</a></li>
                        <li><a class="dropdown-item" href="#">Smartphone</a></li>
                    </ul>
                </th>
            </tr>
        </thead>
        <tbody class="table-light">
            <tr>
                <td class="table-first-col">John</td>
                <td class="servicessheet-table-col">Doe</td>
                <td class="servicessheet-table-col">com</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
{%endblock%}

{%block rightcontent%}
<div class="position-absolute translate-middle-y fw-bolder title">Phiếu dịch vụ</div>
<button type="button" class="btn btn-dark d-flex align-items-center
    justify-content-center me-4 position-absolute end-0 translate-middle-y"
    style="width: 25px; height: 25px">&#10005</button>
<div class="container pt-5 pb-2">
    <div class="table-responsive" style="max-height: 170px; overflow-y: auto; background: white">
        <table class="table table-bordered text">
        <thead class="table-dark text-center align-middle">
            <tr>
                <th></th>
                <th class="table-first-col">Dịch vụ</th>
                <th class="servicessheet-table-col">Thời lượng dịch vụ</th>
                <th class="servicessheet-table-col">Giá dịch vụ</th>
            </tr>
        </thead>
        <tbody class="table-light">
            <tr>
                <td>1</td>
                <td class="table-first-col">John</td>
                <td class="servicessheet-table-col">Doe</td>
                <td class="servicessheet-table-col">com</td>
            </tr>
            <tr>
                <td>2</td>
                <td class="table-first-col">John</td>
                <td class="servicessheet-table-col">Doe</td>
                <td class="servicessheet-table-col">com</td>
            </tr>
            <tr>
                <td>3</td>
                <td class="table-first-col">John</td>
                <td class="servicessheet-table-col">Doe</td>
                <td class="servicessheet-table-col">com</td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="pt-3 pb-2">
        <div class="subtitle">Khách hàng:</div>
        <div class="row row-col-2 text">
            <div class="col-6">Dịch vụ hiện tại:</div>
            <div class="col-6">Dịch vụ kế tiếp:</div>
            <div class="col-6">Kỹ thuật viên:</div>
            <div class="col-6">Kỹ thuật viên:</div>
        </div>
    </div>
    <div class="container position-relative mt-4" style="background: #B2B2B2">
        <div class="position-absolute translate-middle-y fw-bolder subtitle">Ghi chú dịch vụ</div>
        <div class="pt-3 pb-1">
            <input type="text" class="form-control border-0" style="background: #B2B2B2" readonly>
        </div>
    </div>
    <div class="container position-relative mt-4" style="background: #B2B2B2">
        <div class="position-absolute translate-middle-y fw-bolder subtitle">Phản hồi của KH về dịch vụ</div>
        <div class="pt-3 pb-1">
            <textarea class="form-control border-0" rows="2" id="comment" name="text" style="background: #B2B2B2" readonly></textarea>
        </div>
    </div>
    <div class="row p-3 pt-4">
        <button class="col btn btn-dark me-5 text">Xác nhận cập nhật</button>
        <button class="col btn btn-dark ms-5 text">Hủy cập nhật</button>
    </div>
</div>
{%endblock%}