{%extends 'layout/base.html'%}

{%block content%}
<div id="main-body" class="row g-3 gy-4 m-3 mb-5">
    <div class="col-md">
        <div class="container position-relative area">
            <div class="position-absolute translate-middle-y fw-bolder title">Danh sách khách hàng</div>
            <div class="pt-4 pb-2">
                <div class="row pt-1">
                    <div class="col">
                        <input id="search" class="form-control" type="text" placeholder="Search" style="width: 32vw"
                               onchange="search()" value="{{kw}}">
                    </div>
                    <div class="col pt-1">
                        <ul class="pagination justify-content-end col pagination-sm">
                            <li class="page-item"><a class="page-link" href="#"><</a></li>
                            {%for i in range(1, pages+1)%}
                            <li class="page-item"><a class="page-link" href="/?page={{i}}">{{i}}</a></li>
                            {%endfor%}
                            <li class="page-item"><a class="page-link" href="#">></a></li>
                        </ul>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text">
                        <thead class="table-dark text-center align-middle">
                        <tr>
                            <th class="table-first-col">Khách hàng</th>
                            <th class="service-sheet-table-col">Thời gian dự kiến thực hiện</th>
                            <th class="service-sheet-table-col">
                                <div class="dropdown-toggle" data-bs-toggle="dropdown">Trạng thái <br> lịch hẹn</div>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Tất cả trạng thái</a></li>
                                    <li><a class="dropdown-item" href="#">Trạng thái 1</a></li>
                                    <li><a class="dropdown-item" href="#">Trạng thái 2</a></li>
                                </ul>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="table-light">
                        {%for a in appointments%}
                        <tr onclick="displaySheetDetail({{a.id}})">
                            <td class="table-first-col">{{a.khach_hang.ho_ten_user}}</td>
                            <td class="service-sheet-table-col">hehehe</td>
                            <td class="service-sheet-table-col">{{a.trang_thai_dat_lich.name}}</td>
                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md">
        {%if id!=0%}
        <div class="container position-relative area">
            <div class="position-absolute translate-middle-y fw-bolder title">Phiếu dịch vụ</div>
            <button type="button" class="btn btn-dark d-flex align-items-center
        justify-content-center me-4 position-absolute end-0 translate-middle-y"
                    style="width: 25px; height: 25px" onclick="closeSheetDetail()">&times;
            </button>
            <div class="container pt-5 pb-2">
                <div class="table-responsive" style="max-height: 170px; overflow-y: auto; background: white">
                    <table class="table table-bordered text">
                        <thead class="table-dark text-center align-middle">
                        <tr>
                            <th></th>
                            <th class="table-first-col">Dịch vụ</th>
                            <th class="service-sheet-table-col">Thời lượng dịch vụ</th>
                            <th class="service-sheet-table-col">Giá dịch vụ</th>
                        </tr>
                        </thead>
                        <tbody class="table-light">
                        {%for pdv in service_sheet_detail%}

                        <tr>
                            <td>{{loop.index}}</td>
                            <td class="table-first-col">{{pdv.dich_vu.ten_dich_vu}}</td>
                            <td class="service-sheet-table-col">{{pdv.dich_vu.thoi_gian_dich_vu}}</td>
                            <td class="service-sheet-table-col">{{pdv.dich_vu.gia_dich_vu}}</td>
                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </div>
                <div class="pt-3 pb-2">
                    <div class="subtitle">Khách hàng: {{service_sheet.dat_lich.khach_hang.ho_ten_user}}</div>
                    <div class="row row-col-2 text">
                        <div class="col-6">Dịch vụ hiện tại:
                            {{service_sheet.phieu_dich_vu_details[0].dich_vu.ten_dich_vu}}
                        </div>
                        <div class="col-6">Kỹ thuật viên: {{appointment_detail[0].ky_thuat_vien.user.ho_ten_user}}</div>
                    </div>

                    <div class="row row-col-2 text">

                        {%if service_sheet_detail[0 + 1] != null %}
                        <div class="col-6">Dịch vụ kế tiếp:
                            {{service_sheet.phieu_dich_vu_details[1].dich_vu.ten_dich_vu}}
                        </div>
                        <div class="col-6">Kỹ thuật viên: {{appointment_detail[1].ky_thuat_vien.user.ho_ten_user}}</div>
                        {%endif%}
                    </div>

                </div>
                <div class="container position-relative mt-4" style="background: #B2B2B2" id="noteArea">
                    <div class="position-absolute translate-middle-y fw-bolder subtitle">Ghi chú dịch vụ</div>
                    <div class="pt-3 pb-1">
                        <input type="text" class="form-control border-0" id="serviceNote" style="background: #B2B2B2"
                               readonly value="{{service_sheet.phieu_dich_vu_details[0].ghi_chu_ktv}}">

                    </div>
                </div>
                <div class="container position-relative mt-4" style="background: #B2B2B2" id="replyArea">
                    <div class="position-absolute translate-middle-y fw-bolder subtitle">Phản hồi của KH về dịch vụ
                    </div>
                    <div class="pt-3 pb-1">
                    <textarea class="form-control border-0" rows="2" id="customerReply" style="background: #B2B2B2"
                              readonly> {{service_sheet.phieu_dich_vu_details[0].phan_hoi_khach_hang}}</textarea>
                    </div>
                </div>
                <div class="row pt-4 p-3 " style="display: flex" id="btnUpdate">
                    <button class="col btn btn-dark text" onclick="startUpdateSD({{service_sheet.id}})">Cập nhật
                    </button>
                </div>
                <div class="row pt-4 p-3" style="display: none" id="btnForUpdate">
                    <button class="col btn btn-dark me-5 text">Xác nhận cập nhật</button>
                    <button class="col btn btn-dark ms-5 text" onclick="cancelUpdateSD({{service_sheet.id}})">Hủy cập
                        nhật
                    </button>
                </div>
            </div>
        </div>
        {%if flag%}
        <script>
            changeForUpdateSD()
        </script>
        {%endif%}
        {%endif%}
    </div>
</div>
{%endblock%}