#main-header, #main-footer{
    font-size: clamp(22px, 2vw, 26px);
    font-weight: bold;
}

.area{
    background: #E2E2E2;
    height:100%
}

.table-first-col{
    width: 40%
}

.appointment-table-col{
    width: 20%
}

.service-sheet-table-col{
    width: 30%
}

.title{
    font-size: clamp(20px, 2vw, 24px)
}

.subtitle{
    font-size: clamp(16px, 2vw, 20px)
}

.text{
    font-size: clamp(12px, 2vw, 16px)
}

.nav-tabs .nav-link {
    font-size: clamp(12px, 2vw, 16px);
    font-weight: bold;
    color: white
}

.nav-tabs .nav-link:active {
    font-size: clamp(12px, 2vw, 16px);
    font-weight: bold;
    color: black
}
