#main-header, #main-footer{
    font-size: clamp(22px, 2vw, 26px);
    font-weight: bold;
}

#main-body{
}

.hero-section {
    background-image: url('your-background.jpg');
    background-size: cover;
    background-position: center; height: 100vh; position: relative;
}

.overlay-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
}

.area{
    background: #E2E2E2;
    height:100%
}

.table-first-col{
    width: 40%
}

.appointment-table-col{
    width: 20%
}

.service-sheet-table-col{
    width: 30%
}

.title{
    font-size: clamp(20px, 2vw, 24px)
}

.subtitle{
    font-size: clamp(16px, 2vw, 20px)
}

.text{
    font-size: clamp(12px, 2vw, 16px)
}
